// FONTS

$quicksand: 'Quicksand', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$auth-button-color : #65AAAA;
$auth-hover-color: #8AC3C3;
$light-font-color: #E0F5F5;
$dark-font-color: #223131;
$search-button-color: #C38A8A;
$search-button-color-hover: #A67474;

$input-color: #CAEBEB;

$section-color: rgba(195, 166, 138, 0.1);
$section-interface-color: rgba(195, 166, 138, 0.29);

$info-recipe-hover: rgba(195, 166, 138, 0.9);
