@import "global";
@import "form";

body{
  display: flex;
  flex-direction: column;
  justify-content: center;

  header{
    display: flex;
    height: 12vh;
    justify-content: space-between;
    padding: 1vh 2em;

    .logo{
      height: 100%;
      width: 25%;

      img{
        width: 80%;
        height: 90%;
        min-width: 150px;
      }
    }

    .sign-buttons{
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 20%;
      align-items: center;
      justify-content: space-evenly;

      .sign-button{
        font-size: 20px;
        font-family: $quicksand;
        background-color: $auth-button-color;
        border-radius: 10px 5px;
        width: 80%;
        color: $light-font-color;
        min-width: 90px;

        &:hover{
          background-color: $auth-hover-color;
          cursor: pointer;
        }
      }

    }
  }

  nav{
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;

    div{
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      img{
        height: 50px;
      }

      button{
        font-size: 20px;
        font-family: $quicksand;
        background-color: $search-button-color;
        width: 20%;
        border-radius: 10px 5px;
        color: $light-font-color;
        min-width: 90px;

        &:hover{
          background-color: $search-button-color-hover;
          cursor: pointer;
          font-weight: 500;
        }
      }
    }
  }

  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;

    section{
      margin: 1em 0;
    }

    .main-section{
      border-radius: 5px;
      display: flex;
      height: 60vh;
      width: 90%;
      background-color: $section-color;
      justify-content: space-evenly;
      align-items: center;
      ul{
        border: 1px solid $auth-button-color;
        border-radius: 10px 5px;
        width: 30%;
        height: 80%;
        li{
          font-size: 30px;
          font-family: $quicksand;
          color: $auth-button-color;
          display: flex;
          justify-content: center;
          align-items: center;
          list-style: none;
          height: calc(100%/3);
          border-radius: 9px 4px;

          &:hover, &:focus {
            background-color: $search-button-color;
            cursor: pointer;
            color: $light-font-color;
          }
        }
      }

      article{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 60%;
        height: 70%;
        padding: 0 1em;

        p{
          color: $dark-font-color;
          font-family: $montserrat;
          font-size: 1.3rem;
        }
      }
    }

    section.new-recipes{
      height: 40vh;
      display: flex;
      width: 90%;
      justify-content: space-around;

      div.show-recipe-card{
        height: 95%;
        width: 20%;
        cursor: pointer;

        .infos-recipe{
          background-color: $info-recipe-hover;
          height: 50%;
          border-radius: 0 0 20px 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          position: relative;
          top: -51%;
          width: 100%;

          p, h3{
            text-align: center;
            color: $dark-font-color;
            font-family: $montserrat;
          }

          h3{
            font-weight: 500;
            font-family: $quicksand;
          }
        }

        img{
          position: sticky;
          border-radius: 20px 10px;
          height: 100%;
          width: 100%;
          border: 1px solid $auth-button-color;
        }
      }
    }
  }

  footer{
    background-color: $auth-button-color;
    padding: 0.5em 0;
    margin-top: 2.7em;

    ul{
      margin-left: 1em;
      li{
        list-style: none;
        a{
          text-decoration: none;
          font-family: $quicksand;
          font-size: 1.7em;
          color: $light-font-color;
        }
      }
    }
  }
}



