{% extends 'base.html.twig' %}

{% block title %}CookBook | My Book{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('interface') }}
{% endblock %}

{% block interface %}
    <section class="interface">
        {% block addForm %}
            <div id="js-form-add" class="closed">
                <form action="">
                    <input type="text">
                    <input type="file">
                    <input type="number">
                    <input type="number">
                    <button type="submit">Create Recipe</button>
                </form>
            </div>
        {% endblock addForm %}
        {% include 'recipe/_recipe.html.twig' %}
    </section>
{% endblock interface %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('interface') }}
{% endblock %}
